@{
    ViewData["Title"] = "Lotes para vencer";
}

@model IEnumerable<vacinacao.Models.LoteVacina>

<h2>Lotes que faltam menos de 30 dias para vencer</h2>
<hr>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Vacina</th>
            <th>Identificação do lote</th>
            <th>Quantidade recebida</th>
            <th>Quantidade restante</th>
            <th>Data de recebimento</th>
            <th>Data de validade</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var loteVacina in Model)
        {
            <tr>
                <td>@loteVacina.Id</td>
                <td>@loteVacina.Vacina.Nome</td>
                <td>@loteVacina.IdentificacaoDoLote</td>
                <td>@loteVacina.QuantidadeRecebida</td>
                <td>@loteVacina.QuantidadeRestante</td>
                <td>@loteVacina.DataDeRecebimento</td>
                <td>@loteVacina.DataDeValidade</td>
                <td>
                    <a class="btn btn-primary" href="/Home/EditarLoteVacina/@loteVacina.Id">Editar</a>

                    <form style="display: inline;" asp-controller="lotesVacinas" asp-action="Deletar">
                        <input type="hidden" name="id" id="id" value="@loteVacina.Id">
                        <button class="btn btn-danger">Deletar</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>